
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Index</title>
</head>
<body>
    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="@Url.Action("AddOne", "Dictionary")" class="w3-bar-item w3-button">1. Add one time to Dictionary</a>
        <a href="@Url.Action("AddHugeList", "Dictionary")" class="w3-bar-item w3-button">2. Add Huge List of Items to Dictionary</a>
        <a href="@Url.Action("Display", "Dictionary")" class="w3-bar-item w3-button">3. Display Dictionary</a>
        <a href="@Url.Action("Delete", "Dictionary")" class="w3-bar-item w3-button">4. Delete from Dictionary</a>
        <a href="@Url.Action("Clear", "Dictionary")" class="w3-bar-item w3-button">5. Clear Dictionary</a>
        <a href="@Url.Action("Search", "Dictionary")" class="w3-bar-item w3-button">6. Search Dictionary</a>
        <a href="@Url.Action("Index", "Index")" class="w3-bar-item w3-button">7. Return to Main Menu</a>
    </div>

    <!-- Page Content -->
    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1>Dictionary</h1>
        </div>

        @Html.Raw(ViewBag.MyDictionary)
        @ViewBag.Deleted
        @ViewBag.Found

    </div>
</body>
</html>
